<div id= 'interface' hidden>
   <!-- <canvas id = 'graph' onresize= "canvasResize()"></canvas>-->
    <div id = 'graph'></div>
    <div class = 'display-value'> 
        <label class = 'val'> 80 </label>
        <span>bmp</span>
    </div>

    <div id = 'graph1'></div>
     <div class = 'display-value' >
        <label class = 'val'> 120 </label>
        <span>mmHg</span>
    </div>

    <div id = 'graph2'>
    </div>
    <div class = 'display-value'>
        <label class = 'val'> 100 </label>
        <span>SpO2</span>
    </div>

    <div id = 'graph3'>
    </div>
    <div class = 'display-value'>
        <label class = 'val'> 100 </label>
        <span>rmp</span>
    </div>

    <div id = 'graph4'></div>
    <div class = 'display-value'>
        <label class = 'val'> 98.6 </label>
        <span id = 'temps' >F</span>
    </div> 

    
    
    {{!-- <div id = 'graphs'>
        <div id = 'graph'></div>
        <div id = 'graph1'></div>
        <div id = 'graph2'></div>
        <div id = 'graph3'></div>
        <div id = 'graph4'></div>
    </div>

    <div id = labels hidden>
        <div class = 'display-value'> 
            <label class = 'val'> 80 </label>
            <span>bmp</span>
        </div>
        <div class = 'display-value' >
            <label class = 'val'> 120 </label>
            <span>mmHg</span>
        </div>
        <div class = 'display-value'>
            <label class = 'val'> 100 </label>
            <span>SpO2</span>
        </div>
        <div class = 'display-value'>
            <label class = 'val'> 100 </label>
            <span>rpm</span>
        </div>
        <div class = 'display-value'>
            <label class = 'val'> 100 </label>
            <span id = 'temps' >F</span>
        </div> --}}

    </div>

</div>
