<div class= 'instrument-options'>
    <div> Choose an Instrument (0% Oxygen):</div>
    <select class="instuments-type">
        <option value="init"> -- Select -- </option>
        <option value="horn">Horn</option>
        <option value="cello">Cello</option>
    </select> 
    <div> Choose an Instrument (100% Oxygen):</div>
    <select class="instuments-type">
        <option value="init"> -- Select -- </option>
        <option value="horn">Horn</option>
        <option value="cello">Cello</option>
    </select> 
</div>