<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" media="screen">
        <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>        {{#if instrument}}
            <script src= 'instruments.js' defer></script>
            <script src= 'script.js' defer></script>
        {{/if}}
        {{#if oscillator}}
            <script src= 'oscillators.js' defer></script>
            <script src= 'script.js' defer></script>
        {{/if}}
        <title>Heart Rate Monitor</title>
    </head>
    <body>
        <div class = "header">
            <i class="fa fa-heartbeat fa-3x logo" aria-hidden="true"></i> 
            <h1> Heart Rate Monitor Comparison</h1>
        </div>
        <div class="nav">
          <div class="navbar"> </div>
          <div class="navbar"><a href="/home">Home</a></div>
          <div class="navbar"><a href="/oscillators">Oscillators</a></div>
          <div class="navbar"><a href="/instruments">Instruments</a></div>
          <div class="navbar"><a href="/tools">Tools</a></div>
          <div class="navbar"><a href="/about">About</a></div>


        </div> 
        {{{body}}}
    </body>
</html>