<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" media="screen">
        <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
        <script src= 'script.js' defer></script>
        <title>Deep Audio Interpolation</title>
    </head>
    <body>
        <div class = "header">
            <i class="fa fa-heartbeat fa-3x logo" aria-hidden="true"></i> 
            <h1> New and Old EKG Comparision</h1>
        </div>
        <div class="nav">
          <div class="navbar"> </div>
          <div class="navbar"><a href="/home">Home</a></div>
          <div class="navbar"><a href="/oscillator">Oscillators</a></div>
          <div class="navbar"><a href="/instrument">Instruments</a></div>
        </div> 
        {{{body}}}
    </body>
</html>