<h2 class = 'title'> About </h2>
<div class = 'description-about'>
    The new innovative Heart Rate Monitor integrates oxygen content into the audio that already accounts for heart rate and blood pressure.<br><br>
    Heart rate is heard based on rhythm, the longer the pauses, the slower the heart rate. Meanwhile, blood pressure is based on pitch. 
    The higher the pitch, the higher the blood pressure.<br><br> With pitch and rhythm already in use, the only option left to change was timbre. 
    Thus, oxygen level alters timbre in the audio. Timbre is essentially what makes an instrument and instrument. It is the factor that differentiate sound
    from a cello and one from a trumpet. Thus if a patient had 99% oxygen content level, then it would be 99% one instrument or oscillator and 1% a different 
    instrument or oscillator.<br><br> By conveying oxygen content through timbre, medicial professionals can easily recognize a patient's oxygen level, 
    heart rate, and blood pressure just listening to the audio. This minimizes the need for these professionals to glance at the screen to check 
    if the oxygen content is at a proper level.
</div>