<div class="image" style="background-image: url('home.jpg');">
   <div class = "home-intro">
       <div class = "overlay">
       New Electronic Vital Sign Monitor
       </div>
       <div class='about-page-button'>
           <a href='/about'><button class= ' main'> Learn More </button></a>
       </div>
   </div> 
</div>


<div class= 'content'>
    <div class = 'subheading space'>
        Oscillators
    </div>
    <div class = 'description home'>
The new proposed electronic vital sign monitor sonifies oxygen content in addition to the previously existing heart rate and blood pressure. See how oscillators can represent oxygen audibly.       </div>
    <a href='/oscillators'><button class= 'home-button'> Try It</button></a>

    <div class = 'subheading space'>
        Instruments
    </div>
    <div class = 'description home'>
       See how instruments can represent oxygen content instead. Try two different instruments to see how different levels of oxygen sound alongside blood pressure as pitch and heart rate as rhythm.
    </div>
    <a href='/instruments'><button class= 'home-button'> Try It</button></a>
</div>
<div class= 'spacing'></div>
<!--


<div class = 'content'>
<h3 class = 'website-description'><br>
    Welcome! See how the new innovative heart rate monitor compares to the old one!</h3>
<h4 class = 'website-sub-description'>
    The current heart rate monitor has audio beeps incorporates frequency for blood pressure and heart rate for rhythm.
    With this new heart rate monitor, the blood oxygen level can be incorporated into the already exisiting features via timbre.  
</h4>
    
<div class= 'webpage-option-container'>
    <a class = 'links' href="/oscillators">
        <div class= 'webpage-title'> Oscillators</div>
        <div class= 'description'>
            See how oxygen content embbed into the audio would sound like with two different oscillators. 
        </div>
    </a>
    <a class = 'links' href="/instruments">
        <div class= 'webpage-title'> Instruments</div>
        <div class= 'description'>
            See how oxygen content embbed into the audio would sound like with two different instruments.
        </div>
    </a>
</div>
<div class= 'webpage-option-container'>
     <a class = 'links' href="/tools">
        <div class= 'webpage-title'> Tools </div>
        <div class= 'description'>
            See what blood pressure represent what frequency and what oxygen content represents what interpolation.
        </div>
    </a>
    <a class = 'links' href="/about">
        <div class= 'webpage-title'> About </div>
        <div class= 'description'>
            Learn about the benefits of this new model and its uses.
        </div>
    </a>
</div>
</div>
-->
