<div class="image" style="background-image: url('home.jpg');">
   <div class = "home-intro">
       <div class = "overlay">
       New Electronic Vital Sign Monitor
       </div>
       <div class='about-page-button'>
           <a href='/about'><button class= ' main'> Learn More </button></a>
       </div>
   </div> 
</div>


<div class= 'content'>
    <div class = 'subheading space'>
        Oscillators
    </div>
    <div class = 'description home'>
        The new proposed electronic vital sign monitor sonifies oxygen content in addition to the previously existing heart rate and blood pressure. See how oscillators can represent oxygen audibly.       </div>
    <a href='/oscillators'><button class= 'home-button'> Try It</button></a>

    <div class = 'subheading space'>
        Instruments
    </div>
    <div class = 'description home'>
       See how instruments can represent oxygen content instead. Try two different instruments to see how different levels of oxygen sound alongside blood pressure as pitch and heart rate as rhythm.
    </div>
    <a href='/instruments'><button class= 'home-button'> Try It</button></a>
</div>
<div class= 'spacing'></div>
