<h2 class = 'title home-title'> Home </h2>
<h3 class = 'website-description'><br>
    Welcome! See how the new innovative machine compares to the old one!</h3>
<h4 class = 'website-sub-description'>
    The current machine has audio beeps incorporates frequency for blood pressure and heart rate for rhythm.
    With this new machine, the blood oxygen level can be incorporated in addition to all the current features via timbre. 
    Thus, if there was 99% of blood oxygen then you would hear 90% of one instrument and 1% of another. 
</h4>
    
<div class= 'webpage-option-container'>
    <a class = 'links' href="/oscillators">
        <div class= 'webpage-title'> Oscillators</div>
        <div class= 'description'>
            See how oxygen content embbed into the audio would sound like with two different oscillators. 
        </div>
    </a>
    <a class = 'links' href="/instruments">
        <div class= 'webpage-title'> Instruments</div>
        <div class= 'description'>
            See how oxygen content embbed into the audio would sound like with two different instruments.
        </div>
    </a>
     <a class = 'links' href="/tools">
        <div class= 'webpage-title'> Tools </div>
        <div class= 'description'>
            See what blood pressure represent what frequency and what oxygen content represents what interpolation.
        </div>
    </a>
</div>
