<h2 class = 'title'> Instruments </h2>
{{> settings}}

<button class = 'start-stop' id='play'> Play </button>
<button class = 'start-stop' id='stop' hidden> Stop </button>
<span id=warning></span>

{{> display}}
