<h2 class = 'title'> INSTRUMENTS </h2>
<div class= "content">
    {{> settings}}

    <button class = 'start-stop' id='play'> Play </button>
    <button class = 'start-stop' id='stop' hidden> Stop </button>

    {{> display}}
</div>
