<h2 class = 'title'> TOOLS </h2>
<div class = 'table-container'>
    <div class = 'table-label'> Blood Oxygen Percentage (SpO2)</div>
    <div class = 'table-label'> Instrument 1 Percentage</div>
    <div class = 'table-label'> Instrument 2 Percentage</div>
    <div class = 'table-label'> Medical Condition </div>

    <div class= 'first-row'> 0% - 80% </div>
    <div class= 'first-row'> 100% </div>
    <div class= 'first-row'> 0% </div>
    <div class= 'first-row condition'> Dangerous to Organs </div>

    <div> 80% - 85% </div>
    <div> 90% </div>
    <div> 10% </div>
    <div class = 'condition'>Severly Hypoxic</div>
    <div> 85% - 88% </div>
    <div> 80% </div>
    <div> 20% </div>
    <div class = 'condition'> Hypoxic / Normal in People with COPD</div>
    <div> 88% - 90% </div>
    <div> 70% </div>
    <div> 30% </div>
    <div></div>
    <div> 90% - 91% </div>
    <div> 60% </div>
    <div> 40% </div>
    <div></div>
    <div> 91% - 92% </div>
    <div> 50% </div>
    <div> 50% </div>
    <div></div>
    <div> 92% - 95% </div>
    <div> 40% </div>
    <div> 60% </div>
    <div class = 'condition'>Mild Hypoxic</div>
    <div> 95% - 96% </div>
    <div> 30% </div>
    <div> 70% </div>
    <div class = 'condition'> Normal in healthy individuals</div>
    <div> 96% - 98% </div>
    <div> 20% </div>
    <div> 80% </div>
    <div></div>
    <div> 98% - 100% </div>
    <div> 10% </div>
    <div> 90% </div>
    <div></div>
    <div> 100% </div>
    <div> 0% </div>
    <div> 100% </div>
    <div class = 'condition'> Pefect</div>

</div>
<div class = 'table-container table-2'>
    <div class = 'table-label'> Blood Pressure (mmHg) </div>
    <div class = 'table-label'> Instrument Note</div>
    <div class = 'table-label'> Frequency( Hz)</div>
    <div class = 'table-label'> Medical Condition </div>

    <div class= 'first-row'>  0 - 30 </div>
    <div class= 'first-row'> E2 </div>
    <div class= 'first-row'> 82.41</div>
    <div class= 'first-row condition'>Dangerously Low Blood Pressure </div>

    <div> 30 - 40 </div>
    <div> Gb2 </div>
    <div> 92.50 </div>
    <div></div>
    <div> 40 - 50 </div>
    <div> Ab2 </div>
    <div> 103.83 </div>
    <div></div>
    <div> 50 - 60 </div>
    <div> Bb2 </div>
    <div> 116.54 </div>
    <div></div>
    <div> 60 - 70 </div>
    <div> C3 </div>
    <div> 130.81</div>
    <div class = 'condition'>Too Low Blood Pressure</div>
    <div> 70 - 80 </div>
    <div> D3 </div>
    <div> 146.83 </div>
    <div></div>
    <div> 80 - 90 </div>
    <div> E3 </div>
    <div> 164.81 </div>
    <div></div>
    <div> 90 - 100 </div>
    <div> Gb3 </div>
    <div> 185.00</div>
    <div class = 'condition'>Borderline Low Blood Pressure</div>
    <div> 110 - 120 </div>
    <div> Ab3 </div>
    <div> 207.65 </div>
    <div class = 'condition'>Low Normal Blood Pressure</div>
    <div> 120 - 130 </div>
    <div> Bb3 </div>
    <div> 233.08 </div>
    <div class = 'condition'>Normal Blood Pressure</div>
    <div> 130 - 140 </div>
    <div> C4 </div>
    <div> 261.63</div>
    <div class = 'condition'>High Normal Blood Pressure</div>
    <div> 140 - 150 </div>
    <div> D4 </div>
    <div> 293.66 </div>
    <div class = 'condition'>High Blood Pressure (Hypertension) Stage 1</div>
    <div> 150 - 160 </div>
    <div> E4</div>
    <div> 329.63</div>
    <div></div>
    <div> 160 - 170 </div>
    <div> Gb4 </div>
    <div> 369.99 </div>
    <div class = 'condition'>Hypertension Stage 2</div>
    <div> 170 - 180 </div>
    <div> Ab4 </div>
    <div> 415.30 </div>
    <div></div>
    <div> 180 - 190 </div>
    <div> Bb4 </div>
    <div> 466.16</div>
    <div class = 'condition'>Hypertension Stage 3</div>
    <div> 190 - 200 </div>
    <div> C5 </div>
    <div> 523.25 </div>
    <div></div>
    <div> 200 - 210 </div>
    <div> D5 </div>
    <div> 587.33 </div>
    <div></div>
    <div> 210+ </div>
    <div> E5 </div>
    <div> 659.26</div>
    <div class = 'condition'>Hypertension Stage 4</div>

</div>
<div class='note'> * The medical condition is based on the average person. These ranges vary from person to person depending on age, medical history, gender, etc. </div>
